---
Language:        Cpp
# BasedOnStyle:  LLVM
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  SplitEmptyRecord: false
ColumnLimit: 0
FixNamespaceComments: false
IndentCaseLabels: false
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
TabWidth: 4
UseTab: Never